<h3 class="tittle">Register Now</h3>
<div class="inner-sec">
  <div class="login p-5 bg-light mx-auto mw-100">
    <!-- <form asp-action="Register" method="post">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">User Name</label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="" required=""  >
        </div>

      </div>
      <div class="form-row" [formGroup]="form">
        <div class="form-group col-md-6">
          <label for="exampleInputPassword1 mb-2" asp-for="Password">Password</label>
          <input type="password" class="form-control" id="password1" placeholder="" required=""  [formGroup]="form" >
        </div>
        <div class="form-group col-md-6" [formGroup]="form">
          <label for="exampleInputPassword2 mb-2" asp-for="ConfirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="password2" placeholder="" required=""  [formGroup]="form" >
        </div>

      </div>
      <button type="submit" class="btn btn-primary submit mb-4">Register</button>
      <p>
        <a href="#">By clicking Signup</a>
      </p>
    </form> -->

    <form [formGroup]="registrationFormGroup" #createUserForm="ngForm" (ngSubmit)="onClickRegister(createUserForm)">
    
      <div class="form-group">
        <label for="usernamme">Username</label>
        <input class="form-control" type="text" ngModel name="username" formControlName="username" />
      </div>
      <p class="bg-danger" *ngIf="registrationFormGroup.controls.username.errors?.required && registrationFormGroup.controls.username.touched">Username
        is required</p>
    
      <div [formGroup]="passwordFormGroup">
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" ngModel name="password" formControlName="password">
        </div>
        <p class="bg-danger" *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">Password
          is required</p>
    
        <div class="form-group">
          <label for="repeatPassword">Repeat Password</label>
          <input class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword">
        </div>
        <p class="bg-danger" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">Repeat
          password is required</p>
        <p class="bg-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match</p>
    
      </div>
      <div class="form-group">
        <button class="form-control btn btn-primary" type="submit" [disabled]="!registrationFormGroup.valid">Register</button>
      </div>
    
    </form>
  </div>
</div>