<div class="tech-btm" *ngIf="recentComment">
  <h4>Recent Comment</h4>
  <div class="blog-grids row mb-3" *ngFor="let recent of recentComment">
    <div class="col-md-5 blog-grid-left" >
      <a routerLink="/article/{{recent.idArticle}}">
        <img src="../assets/images/t3.jpg" class="img-fluid" alt="">
      </a>
    </div>
    <div class="col-md-7 blog-grid-right">

      <h5>
        <p>{{recent.fullname}} </p>
      </h5>
      <h5>
        <a routerLink="/article/{{recent.idArticle}}">{{recent.detailComment}} </a>
      </h5>
      <div class="sub-meta">
        <span>
          <i class="far fa-clock"></i>{{recent.dateCreate | date}}</span>
      </div>
    </div>

  </div>
</div>

