<div class="tech-btm" *ngIf="recentArticle">
  <h4>Recent Post</h4>
  <div class="blog-grids row mb-3" *ngFor="let recent of recentArticle">
    <div class="col-md-5 blog-grid-left">
      <a  routerLink="/article/{{recent.id}}">
        <img src="{{imageLink+recent.picture}}" class="img-fluid" alt="">
      </a>
    </div>
    <div class="col-md-7 blog-grid-right">

      <h5>
        <a routerLink="/article/{{recent.id}}">{{recent.title}} </a>
      </h5>
      <div class="sub-meta">
        <span>
          <i class="far fa-clock"></i>{{recent.dateCreate | date}}</span>
      </div>
    </div>

  </div>
</div>