
<div class="comment-top"   >
  <h4 >Comments</h4>
  <div class="media" style="padding-top:10px;" *ngFor="let comment of commentList">
    <img src="../assets/images/t3.jpg" alt="" class="img-fluid" />

    <div class="media-body">
      <h5 class="mt-0" style="padding:10px;"> {{comment.fullname}} </h5>
      <p style="word-wrap:break-word;padding:10px;">
          {{comment.detailComment}}
      </p>
    </div>
  </div>
</div>

<div class="comment-top">
  <h4>Leave a Comment</h4>
  <div class="comment-bottom">
    <div class="media" style="padding-top:10px;">
      <img src="../assets/images/t3.jpg" alt="" class="img-fluid" />

      <div class="media-body">

        <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm);" style="padding-left : 10px;">
          <p type="text" class="mt-0" style="padding:10px;">{{username}}</p>
          <div style="padding-top:10px;">
            <textarea class="form-control" ngModel name="DetailComment" placeholder="Message..." required=""></textarea>

          </div>
          <div style="padding-top:10px;"><button type="submit" class="btn btn-primary submit">Submit</button>
          </div>

        </form>
      </div>

    </div>

  </div>
</div>