
  <div class="blog-grid-top" *ngIf="articleList">
    <div class="b-grid-top">
      <div class="blog_info_left_grid">
        <a routerLink="/article/{{articleList[0].id}}">
      
          <img src={{imageLink+articleList[0].picture}} class="img-fluid" alt="">
        </a>
      </div>
      <div class="blog-info-middle">
        <ul>
          <li>
            <a href="#">
              <i class="far fa-calendar-alt"></i> {{articleList[0].dateCreate | date}}</a>
          </li>
          <li class="mx-2">
            <a href="#">
              <i class="far fa-thumbs-up"></i> 201 Likes</a>
          </li>
          <li>
            <a href="#">
              <i class="far fa-comment"></i> 15 Comments</a>
          </li>

        </ul>
      </div>
    </div>

    <h3>
      <a href="single.html">{{articleList[0].title}} </a>
    </h3>
    <p [innerHtml]=articleList[0].content.substring(121,300)></p>
    <a routerLink="/article/{{articleList[0].id}}" class="btn btn-primary read-m">Read More</a>
  </div>
 
  <div class="blog-girds-sec" >
    <div class="row" *ngIf="articleList">
      
      <div  class="col-md-6 blog-grid-top" *ngFor= "let article of articleList">
        <div class="b-grid-top">
          <div class="blog_info_left_grid" >
          <a routerLink="article/{{article.id}}">
              <img src={{imageLink+article.picture}} class="img-fluid" alt="">
            </a>
          </div>
          <h3>
            <a href="single.html">{{article.title}}</a>
          </h3>
          <!-- <div [innerHtml]="article.content.substring(121,200)">
           
          </div> -->
        </div>
        <ul class="blog-icons">
          <li>
            <a href="#">
              <i class="far fa-clock"></i> {{article.dateCreate | date }}</a>
          </li>
          <li class="mx-2">
            <a href="#">
              <i class="far fa-comment"></i> 21</a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-eye"></i> 2000</a>
          </li>

        </ul>
      </div>
   
    </div>
  </div>

  