<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left" *ngIf="articleDetail">
  <div class="blog-grid-top">
    <div class="b-grid-top">

    </div>

    <h2 style="text-align:center;">
      <a href="single.html">{{articleDetail.title}}</a>
    </h2>
    <p innerHtml="{{articleDetail.content}}">
      
    </p>

  </div>

    <app-comment [idArticle]="articleDetail.id"></app-comment>
  
  </div>
