<header>
  <div class="top-bar_sub_w3layouts container-fluid">
    <div class="row">
      <div class="col-md-4 logo text-left">
        <a class="navbar-brand" routerLink="/">
          <i class="fab fa-linode"></i> Weblog</a>
      </div>
      <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">

        <span *ngIf="username">Welcome Back!  {{username}}</span>
        <span *ngIf="!username">Welcome Back! </span>
        <span class="mx-lg-4 mx-md-2  mx-1" *ngIf="username" >
          <a routerLink="/home" (click)="SignOut();">
            <i class="fas fa-lock"></i> Sign Out </a>
        </span>
        <span class="mx-lg-4 mx-md-2  mx-1" *ngIf="!username">
          <a routerLink="/login">
            <i class="fas fa-lock"></i> Sign In </a>
        </span>
        <span>
          <a routerLink="/createuser">
            <i class="far fa-user"></i> Register</a>
        </span>
        <!-- <button (click)="setTrue()">click</button>
        <button (click)="setFalse()">click</button> -->
      </div>
    
      <div class="col-md-4 log-icons text-right">

        <ul class="social_list1 mt-3">

          <li>
            <a href="#" class="facebook1 mx-2">
              <i class="fab fa-facebook-f"></i>

            </a>
          </li>
          <li>
            <a href="#" class="twitter2">
              <i class="fab fa-twitter"></i>

            </a>
          </li>
          <li>
            <a href="#" class="dribble3 mx-2">
              <i class="fab fa-dribbble"></i>
            </a>
          </li>
          <li>
            <a href="#" class="pin">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/articlepost">Post Article</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Features
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="blog1.html">Standard Blog</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="blog2.html">2 Column Blog</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="blog3.html">3 Column Blog</a>

            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>

        </ul>
        <form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
          <input class="form-control mr-sm-2" type="search" placeholder="Search here..." name="Search" required="">
          <button class="btn btn1 my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>



      </div>
    </nav>

  </div>
</header>
<!--//header-->

<!--/banner-->
<div class="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="carousel-caption">
          <h3>Create the lifestyle
            <span>you desire</span>
          </h3>
          <!-- <div class="read">
            <a href="single.html" class="btn btn-primary read-m">Read More</a>
          </div> -->
        </div>
      </div>
      <div class="carousel-item item2">
        <div class="carousel-caption">
          <h3>Engaging Purposeful
            <span>and Creative</span>
          </h3>
          <!-- <div class="read">
            <a href="single.html" class="btn btn-primary read-m">Read More</a>
          </div> -->
        </div>
      </div>
      <div class="carousel-item item3">
        <div class="carousel-caption">
          <h3>Create the lifestyle
            <span>you desire</span>
          </h3>
          <!-- <div class="read">
            <a href="single.html" class="btn btn-primary read-m">Read More</a>
          </div> -->
        </div>
      </div>
      <div class="carousel-item item4">
        <div class="carousel-caption">
          <h3>Engaging Purposeful
            <span>and Creative</span>
          </h3>
          <!-- <div class="read">
            <a href="single.html" class="btn btn-primary read-m">Read More</a>
          </div> -->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--/model-->
<!--//banner-->
<!--/main-->
<section class="main-content-w3layouts-agileits">
  <div class="container">
    <div class="row">
      <!--left-->
      <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
        <!-- <app-home></app-home>   -->
        <router-outlet></router-outlet>
       
      </div>
      <!--//left-->
      <!--right-->
      <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
        <div class="right-blog-info text-left">
          <div class="tech-btm">
            <img src="../assets/images/banner1.jpg" class="img-fluid" alt="">
          </div>
          <div class="tech-btm">
            <h4>Sign up to our newsletter</h4>
            <p>Pellentesque dui, non felis. Maecenas male </p>
            <form action="#" method="post">
              <input type="email" placeholder="Email" required="">
              <input type="submit" value="Subscribe">
            </form>

          </div>
          <div class="tech-btm widget_social">
            <h4>Stay Connect</h4>
            <ul>

              <li>
                <a class="twitter" href="#">
                  <i class="fab fa-twitter"></i>
                  <span class="count">317K</span> Twitter Followers</a>
              </li>
              <li>
                <a class="facebook" href="#">
                  <i class="fab fa-facebook-f"></i>
                  <span class="count">218k</span> Twitter Followers</a>
              </li>
              <li>
                <a class="dribble" href="#">
                  <i class="fab fa-dribbble"></i>

                  <span class="count">215k</span> Dribble Followers</a>
              </li>
              <li>
                <a class="pin" href="#">
                  <i class="fab fa-pinterest"></i>
                  <span class="count">190k</span> Pinterest Followers</a>
              </li>

            </ul>
          </div>
          <app-recent-article></app-recent-article>
          <!-- <div class="tech-btm">
            <h4>Recent Posts</h4>

            <div class="blog-grids row mb-3">
              <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                  <img src="../assets/images/1.jpg" class="img-fluid" alt="">
                </a>
              </div>
              <div class="col-md-7 blog-grid-right">

                <h5>
                  <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                </h5>
                <div class="sub-meta">
                  <span>
                    <i class="far fa-clock"></i> 20 Jan, 2018</span>
                </div>
              </div>

            </div>
           
          
            <div class="blog-grids row mb-3">
              <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                  <img src="../assets/images/2.jpg" class="img-fluid" alt="">
                </a>
              </div>
              <div class="col-md-7 blog-grid-right">

                <h5>
                  <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                </h5>
                <div class="sub-meta">
                  <span>
                    <i class="far fa-clock"></i> 20 Jan, 2018</span>
                </div>
              </div>

            </div>
           
            <div class="blog-grids row mb-3">
              <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                  <img src="../assets/images/6.jpg" class="img-fluid" alt="">
                </a>
              </div>
              <div class="col-md-7 blog-grid-right">
                <h5>
                  <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                </h5>
                <div class="sub-meta">
                  <span>
                    <i class="far fa-clock"></i> 20 Feb, 2018</span>
                </div>
              </div>

            </div>
          </div> -->
       
          <app-recentcomment></app-recentcomment>
         
        </div>

      </aside>
      <!--//right-->
    </div>
  </div>
</section>
<!--//main-->
<!--/middle-->
<!-- <section class="middle-sec-agileinfo-w3ls">
  <div class="container">
    <div class="row inner-sec">
      <div class="col-md-4 news-left">
        <ul id="demo1_thumbs" class="list-inline">
          <li>
            <a href="images/m1.jpg">
              <img src="images/m1.jpg" alt="" data-desoslide-caption="<h3>Latest Post 1</h3>">
              <div class="mid-text-info">
                <h4>Maecenas aliqua</h4>
                <p>Integer </p>
                <div class="sub-meta">
                  <span>
                    <i class="far fa-clock"></i> 20 Feb, 2018</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="images/m2.jpg">
              <img src="images/m2.jpg" alt="" data-desoslide-caption="<h3>Latest Post 2</h3>">
              <div class="mid-text-info">
                <h4>Maecenas aliqua</h4>
                <p>Integer </p>
                <div class="sub-meta">
                  <span>
                    <i class="far fa-clock"></i> 20 Feb, 2018</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="images/m3.jpg">
              <img src="images/m3.jpg" alt="" data-desoslide-caption="<h3>Latest Post 3</h3>">
              <div class="mid-text-info">
                <h4>Maecenas aliqua</h4>
                <p>Integer </p>
                <div class="sub-meta">
                  <span>
                    <i class="far fa-clock"></i> 20 Feb, 2018</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="images/m4.jpg">
              <img src="images/m4.jpg" alt="" data-desoslide-caption="<h3>Latest Post 4</h3>">
              <div class="mid-text-info">
                <h4>Maecenas aliqua</h4>
                <p>Integer </p>
                <div class="sub-meta">
                  <span>
                    <i class="far fa-clock"></i> 20 Feb, 2018</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div id="demo1_main_image" class="col-md-8  news-right"></div>
      <div class="clearfix"> </div>
    </div>
  </div>

</section> -->
<!--//middle-->
<!---->

<!--//main-->
<!--footer-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
        <h3>About US</h3>
        <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
        <div class="read">
          <a href="single.html" class="btn btn-primary read-m">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

        <div class="tech-btm">
          <h3>Latest Posts</h3>
          <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
              <a href="single.html">
                <img src="../assets/images/4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="col-md-7 blog-grid-right">

              <h5>
                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
              </h5>
              <div class="sub-meta">
                <span>
                  <i class="far fa-clock"></i> 20 Jan, 2018</span>
              </div>
            </div>

          </div>
          <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
              <a href="single.html">
                <img src="../assets/images/5.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="col-md-7 blog-grid-right">

              <h5>
                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
              </h5>
              <div class="sub-meta">
                <span>
                  <i class="far fa-clock"></i> 20 Jan, 2018</span>
              </div>
            </div>

          </div>
          <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
              <a href="single.html">
                <img src="../assets/images/6.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="col-md-7 blog-grid-right">

              <h5>
                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
              </h5>
              <div class="sub-meta">
                <span>
                  <i class="far fa-clock"></i> 20 Jan, 2018</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- subscribe -->
      <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
        <h2>Signup to our newsletter</h2>
        <div class="subscribe-main text-left">
          <div class="subscribe-form">
            <form action="#" method="post" class="subscribe_form">
              <input class="form-control" type="email" placeholder="Enter your email..." required="">
              <button type="submit" class="btn btn-primary submit">Submit</button>
            </form>
            <div class="clearfix"> </div>
          </div>
          <p>We respect your privacy.No spam ever!</p>
        </div>
        <!-- //subscribe -->
      </div>
    </div>
    <!-- footer -->
    <div class="footer-cpy text-center">
      <div class="footer-social">
        <div class="copyrighttop">
          <ul>
            <li class="mx-3">
              <a class="facebook" href="#">
                <i class="fab fa-facebook-f"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a class="facebook" href="#">
                <i class="fab fa-twitter"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li class="mx-3">
              <a class="facebook" href="#">
                <i class="fab fa-google-plus-g"></i>
                <span>Google+</span>
              </a>
            </li>
            <li>
              <a class="facebook" href="#">
                <i class="fab fa-pinterest-p"></i>
                <span>Pinterest</span>
              </a>
            </li>
          </ul>

        </div>
      </div>
     
    </div>

    <!-- //footer -->
  </div>
</footer>

<button (click)="increment()">Increment</button>
<div>Current Count: {{ counter | async }}</div>
<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>
