<h3 class="tittle">User Profile</h3>

<div class="inner-sec">
  <div class="login p-5 bg-light mx-auto mw-100">

    <form [formGroup]="createUserProfile" #createUserProfileForm="ngForm" (ngSubmit)="onClickRegister(createUserProfileForm)" >
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">First name</label>
          <input class="form-control" type="text" ngModel name="firstname" formControlName="firstname" />
            <p class="bg-danger" *ngIf="createUserProfile.controls.firstname.errors?.required && createUserProfile.controls.firstname.touched">first name
              is required</p>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom02">Last name</label>
          <input class="form-control" type="text" ngModel name="lastname" formControlName="lastname" />
          <p class="bg-danger" *ngIf="createUserProfile.controls.lastname.errors?.required && createUserProfile.controls.lastname.touched">last name
            is required</p>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">Email</label>
          <input class="form-control" type="email" ngModel name="email" formControlName="email" />
      <p class="bg-danger" *ngIf="createUserProfile.controls.email.errors?.required && createUserProfile.controls.email.touched">email
        is required</p>
        <p class="bg-danger" *ngIf="createUserProfile.controls.email.errors?.pattern">email
          is not validation</p>
         

        </div>

        <div class="col-md-6 mb-3">
          <label for="validationCustom02">Address</label>
          <input class="form-control" type="text" ngModel name="address" formControlName="address" />
        </div>
      </div>
   
      <button type="submit" class="btn btn-primary submit mb-4">Create</button>

    </form>

    
  </div>
</div>