<h3 class="tittle">Post Article</h3>

<div class="inner-sec">
  <div class="login p-5 bg-light mx-auto mw-100">
    <form   nctype="multipart/form-data" #formPostArticle="ngForm" (ngSubmit)="onSubmit(formPostArticle);" >
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01"><strong>Title</strong></label>
          <input type="text" class="form-control" id="validationDefault01" placeholder="" required="" name="Title" ngModel>

        </div>

      </div>
    
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationCustom01" ><strong>Content</strong></label>
          <div [froalaEditor]='options' ngModel name="Content"  ></div>
        </div>
      </div>
      


      <button type="submit" class="btn btn-primary submit mb-4">Post</button>
    </form>
    
  </div>
</div>